@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('spacing.css');
@import url('utility.css');

body {
  background-color: #163740;
  font-family: "Noto Sans KR", sans-serif !important;
  color: #fff;
}
.wrapper {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.title {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1.1;
}
p {
  font-weight: 300;
  letter-spacing: 0.5px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
ul {
  font-weight: 300;
  letter-spacing: 0.5px;
  max-width: 1100px;
  list-style: square;
  padding-left: 25px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
li {
  margin-bottom: 20px;
}
.responsive-height {
  height: 10px;
}
.fs-2 {
  font-size: 18px;
}
.fs-3 {
  font-size: 24px;
}
.fs-4 {
  font-size: 30px;
}

.icon-1 {
  width: 40px;
  width: 50px;
}
.btn-call {
  padding: 2px 11px 3px;
  margin: 7px 5px;
}
.border-wrapper {
  border-width: 0px;
}

.color-fff {
  color: #fff;
}
.color-c3df2a {
  color: #c3df2a;
}
.color-ffd105 {
  color: #ffd105;
}
.color-43e7d8 {
  color: #43e7d8;
}
.color-1c2222 {
  color: #1c2222;
}

.bc-fff {
  border-color: #fff;
}
.bc-c3df2a {
  border-color: #c3df2a;
}
.bc-ffd105 {
  border-color: #ffd105;
}
.bc-43e7d8 {
  border-color: #43e7d8;
}
.bg-000 {
  background-color: #000;
}
.bg-ffd105 {
  background-color: #ffd105;
}
.bg-1c2222 {
  background-color: #1c2222;
}
.bg-163740 {
  background-color: #163740;
}


@media (min-width: 576px) {
  .title {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  p, ul {
    font-size: 15px;
  }
  .responsive-height {
    height: 15px;
  }
  .fs-2 {
    font-size: 19px;
  }
  .fs-3 {
    font-size: 27px;
  }
  .fs-4 {
    font-size: 35px;
  }
}


@media (min-width: 768px) {
  .title {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  p, ul {
    font-size: 18px;
  }
  li {
    margin-bottom: 30px;
  }
  .responsive-height {
    height: 20px;
  }
  .fs-2 {
    font-size: 23px;
  }
  .fs-3 {
    font-size: 36px;
  }
  .fs-4 {
    font-size: 45px;
  }
  .icon-1 {
    width: 60px;
    width: 75px;
  }
}


@media (min-width: 992px) {
  .title {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  p, ul {
    font-size: 22px;
  }
  li {
    margin-bottom: 40px;
  }
  .responsive-height {
    height: 30px;
  }
  .fs-2 {
    font-size: 28px;
  }
  .fs-3 {
    font-size: 48px;
  }
  .fs-4 {
    font-size: 58px;
  }
  .icon-1 {
    width: 80px;
  }
}

@media (min-width: 1200px) {
  .title {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  p, ul {
    font-size: 28px;
  }
  li {
    margin-bottom: 50px;
  }
  .responsive-height {
    height: 45px;
  }
  .fs-2 {
    font-size: 35px;
  }
  .fs-3 {
    font-size: 60px;
  }
  .fs-4 {
    font-size: 80px;
  }
  .icon-1 {
    width: 100px;
  }
}
@media (min-width: 1300px) {
  .border-wrapper {
    border-width: 2px;
    border-style: solid;
  }
}
