.d-block {
  display: block;
}

.w-100 {
  width: 100%;
}

.border-1 {
  border-width: 1px;
  border-style: solid;
}
.border-2 {
  border-width: 2px;
  border-style: solid;
}
.border-4 {
  border-width: 4px;
  border-style: solid;
}
.border-6 {
  border-width: 6px;
  border-style: solid;
}
.border-t-0 {
  border-top-width: 0px;
}
.border-b-0 {
  border-bottom-width: 0px;
}
.border-l-0 {
  border-left-width: 0px;
}
.border-r-0 {
  border-right-width: 0px;
}

.height-10 {
  height: 10px;
}
.height-20 {
  height: 20px;
}
.height-30 {
  height: 30px;
}
.height-40 {
  height: 40px;
}
.height-50 {
  height: 50px;
}

.fw-300 {
  font-weight: 300;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}

.ff-timenewroman {
  font-family: "Time New Roman", san-serif;
}

.mw-1200 {
  max-width: 1200px;
}
.mw-1300 {
  max-width: 1300px;
}
